* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    max-height: 100vh;
    background-color: #EAEBED;
}

/*nav */
header {
    padding: 1.7rem 1rem;
    backdrop-filter: blur(10px);
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
    align-items: center;
}

.logo {
    font-size: 1.3rem;
    font-weight: 800;
}

.logo a {
    color: #3d072e;
    text-decoration: none;
}

nav a {
    color: #3d072e;
    text-decoration: none;
    font-size: .97rem;
    font-weight: 600;
    letter-spacing: .7px;
    padding: 1rem;
    padding: 0.4rem 1rem;
}

nav a.active,
nav a:hover {
    background-color: #3d072e;
    color: #fff;
    border-radius: 1rem;
    transition: all.3s ease-in-out;
}

#click {
    display: none;
}

.menu {
    display: none;
}

/* Nav */

section {
    margin: 2rem 8.5rem;
    ;
}

.main {
    display: grid;
    grid-template-columns: 5% repeat(2, 1fr);
    column-gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
    margin: 8rem auto;
}

.main h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.main p {
    margin-top: 1rem;
    font-size: .98rem;
}

.social {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    margin-top: 1.7rem;
}
.social a {
    color: #3d072e;
    font-size: 1rem;
    border: 1.6px solid #3d072e;
    border-radius: 50%;
    padding: .35rem;
    text-align: center;
    width: 26px;
}
.social a:hover {
    color: #fff;
    background-color: #3d072e;
    transition: all .3s ease-in-out;
}

.main h1 span:nth-child(1) {
    font-size: 1.5rem;
}
.button button {
    background-color: transparent;
    border: 1px solid #3d072e;
    border-radius: 0.4rem;
    margin-top: 2rem;
    cursor: pointer;
    padding: 0.8rem 1.2rem;
}
.button button:hover {
    background-color: #3d072e;
    color: #fff;
    transition: all .3s ease-in-out;
    transform: scale(.91);
}
.images {
    background-image: url('/comps/img/blob.svg');
    background-repeat: no-repeat;
    background-position: 0px -55px;
    background-size: 500px 500px;
}
.container {
    width: 1366px ;
    height: 550px;
    background: rgb(116,0,49);
    background: linear-gradient(0deg, rgba(116,0,49,1) 3%, rgba(82,11,37,1) 27%, rgba(61,7,46,1) 54%, rgba(42,3,55,1) 83%, rgba(20,6,37,1) 100%);
}
.container>.text-skill {
    width: 100%;
    height: 12%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size:xx-large;
}
.text-skill>p {
    letter-spacing: 3px;
}
.u-center {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.skills {
    display: flex;
    flex-direction: column;
    align-self: center;
}
.skill {
    margin: .7em 0;
    position: relative;
    width: 22.5em;
}
.skill__type {
    color: #fff;
    font-weight: 300;
    font-size: .8em;
    letter-spacing: .145em;
    text-transform: uppercase;
    width: 5em;
}
.skill__outer-bar .skill__inner-bar {
    height: .75em;
    border-radius: 0.4rem;
}
.skill__outer-bar {
    margin-top: 10px;
    background-color: #333;
    border-radius: 0.4rem;
}
.skill__inner-bar {
    animation: fillBar 1s forwards;
    transform: scaleX(0);
    transform-origin: 0 0;
}

.skill__inner-bar--100{
    width: 100%;
    background-color: #e55000;
}
.skill__inner-bar--85{
    width: 85%;
    background-color: #2298f8;
}
.skill__inner-bar--80{
    width: 80%;
    background-color:#f6d524 ;
}
.skill__inner-bar--63{
    width:63%;
    background-color:#6aa05c ;
}
.skill__inner-bar--61{
    width: 61%;
    background-color:white;
}
.skill__inner-bar--60{
    width: 60%;
    background-color:#00d4f7;
}
.container2 {
    width: 1366px;
    height: 550px;
    background-image: linear-gradient(180deg, #eaebed 30%, #fff 70%);   
}
.container-wrapper {
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 2rem;
    text-align: center;
}
.container-wrapper>h1 {
    color: #3d072e;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 6px;
    margin-bottom: .9rem;
}
.container-wrapper>h2 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1.1rem;
}
.foto img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* margin-top: 1rem; */
}
.container-wrapper>p {
    font-size: .9rem;
    line-height: 2rem;
    padding: 0 130px;
    margin-top: .3rem;
}

.container-wrapper>button {
    margin-top: 1.5rem;
}
.container3 {
    width: 1366px;
    height: 660px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/comps/img/wave.png');
    background-repeat: no-repeat;
    background-size: cover;
    gap: 30px;
    flex-direction: row;

}

.card {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 15%;
    height: 51%;
    border-radius:0.4rem;
    text-align: center;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card:hover {
    box-shadow: 0 12px 18px 0 rgba(0,0,0,0.2);
  }
   
  .containerCard {
   height: 80%;
   width: 90%;
  }

  .fa-brands .fa-wordpress .fa-2xl {
    margin-top: 1rem;
  }
  
.containerCard>img {
    width: 185px;
    height: 270px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
}

.containerCard>h3 {
    color: #505154;
}
@keyframes fillBar {
    to {
        transform: scaleX(1);
    }
}
@media only screen and (max-width: 1024px) {
    section {
        margin: 2rem 2.5rem;
    }
}

@media only screen and (max-width:768px) {
    html {
        font-size: 95%;
    }
    header {
        max-width: 100%;
    }
    section {
        margin: 0rem 1.5rem;
    }
    .images {
        background-position: center;
        background-size: cover;
    }
}

@media only screen and (max-width:480px) {
    .menu {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        color: #3d072e;
    }

    header {
        padding: 0.7rem 1rem;
        align-items: center;
        max-width: 100%;
    }

    nav {
        position: absolute;
        display: grid;
        top: 75px;
        width: 100%;
        text-align: center;
        background-color: #fff;
        left: -100%;
    }

    #click:checked~nav {
        left: 0%;
        transition: all 0.3s ease;
    }

    section {
        margin: 1rem 1.5rem;
    }
    .main {
        grid-template-columns: repeat(1, 1fr);
    }

}